<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Functions</a></span><ul class="toc-item"><li><span><a href="#Creating-Functions" data-toc-modified-id="Creating-Functions-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Creating Functions</a></span></li><li><span><a href="#Calling-Functions" data-toc-modified-id="Calling-Functions-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Calling Functions</a></span></li><li><span><a href="#Default-Argument-Values" data-toc-modified-id="Default-Argument-Values-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Default Argument Values</a></span></li></ul></li><li><span><a href="#Lists" data-toc-modified-id="Lists-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#List-Methods" data-toc-modified-id="List-Methods-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>List Methods</a></span></li></ul></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Dictionaries</a></span><ul class="toc-item"><li><span><a href="#Dictionary-Methods" data-toc-modified-id="Dictionary-Methods-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Dictionary Methods</a></span></li></ul></li><li><span><a href="#Nesting" data-toc-modified-id="Nesting-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Nesting</a></span><ul class="toc-item"><li><span><a href="#Nested-Structures" data-toc-modified-id="Nested-Structures-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Nested Structures</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#List-and-Dictionary-Comprehensions" data-toc-modified-id="List-and-Dictionary-Comprehensions-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>List and Dictionary Comprehensions</a></span><ul class="toc-item"><li><span><a href="#List-Comprehension" data-toc-modified-id="List-Comprehension-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>List Comprehension</a></span><ul class="toc-item"><li><span><a href="#Another-List-Comprehension-Example" data-toc-modified-id="Another-List-Comprehension-Example-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>Another List Comprehension Example</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-6.1.2"><span class="toc-item-num">6.1.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#Dictionary-Comprehension" data-toc-modified-id="Dictionary-Comprehension-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Dictionary Comprehension</a></span><ul class="toc-item"><li><span><a href="#zip" data-toc-modified-id="zip-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span><code>zip</code></a></span><ul class="toc-item"><li><span><a href="#Dictionary-Comprehension-Using-zip" data-toc-modified-id="Dictionary-Comprehension-Using-zip-6.2.1.1"><span class="toc-item-num">6.2.1.1&nbsp;&nbsp;</span>Dictionary Comprehension Using <code>zip</code></a></span></li></ul></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-6.2.2"><span class="toc-item-num">6.2.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li></ul></li><li><span><a href="#More-Exercises" data-toc-modified-id="More-Exercises-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>More Exercises</a></span></li></ul></div>

In [ ]:
# No imports today

# Objectives

- Write functions to transform data
- Construct list and dictionary comprehensions
- Extract data from nested data structures

# Functions

This aspect of Python is _incredibly_ useful! Writing your own functions can save you a TON of work - by _automating_ it.

## Creating Functions

The first line will read:

```python

'def' function_name() ':'

```

Any arguments to the function will go in the parentheses.

Let's try building a function that will automate the task of finding how many times a given number can be evenly divided by 2.

In [ ]:
8 % 2

In [ ]:
8 /2

In [ ]:
9 /2

In [ ]:
8 // 2

In [ ]:
9 //2

In [ ]:
def div_two(num):
    
    div_num = num // 2
    
    return(div_num)

In [ ]:
# Let's code it!

# this function will return the floor division

def div_two(num):
    
    div_num = num // 2
    
    return(div_num)

In [ ]:
def div_two(num):
    
    return(num // 2)

## Calling Functions

To _call_ a function, simply type its name, along with any necessary arguments in parentheses.

In [ ]:
# Let's call it!

div_two(9)

## Default Argument Values

Sometimes we'll want the argument(s) of our function to have default values.

In [ ]:
def cheers(person='aaron', job='data scientist', age=30):
    return f'Hooray for {person}. You\'re a {job} and you\'re {age}!'

In [ ]:
cheers('greg', 'scientist', 130)

In [ ]:
cheers(job='scientist', age=130, person='greg')

In [ ]:
cheers('scientist','30','david')

In [ ]:
cheers('cristian', 'git enthusiast')

In [ ]:
cheers()

# Lists

## List Methods

Make sure you're comfortable with the following list methods:

- `.append()`: adds the input element to the end of a list
- `.pop()`: removes and returns the element with input index from the list
- `.extend()`: adds the elements in the input iterable to the end of a list
- `.index()`: returns the first place in a list where the argument is found
- `.remove()`: removes element by value
- `.count()`: returns the number of occurrences of the input element in a list

In [ ]:
range(1, 10, 1)

In [ ]:
list(range(10))

In [ ]:
#create a test_list
test_list = list(range(1,11))

In [ ]:
test_list

In [ ]:
# access individual elements / zero indexed

# list_name[index_value]
test_list[5]

In [ ]:
# slicing from start to end, first inclusive, second exclusive
test_list[2:6]

In [ ]:
#slice from start, include first four values
test_list[:4]

In [ ]:
#slice from given index to end

test_list[3:]

In [ ]:
test_list[4:-1]

In [ ]:
# append

test_list.append(11)

test_list

In [ ]:
# pop

test_list.

In [ ]:
test_list

In [ ]:
#create more numbers
add_list = list(range(11,16))

add_list

In [ ]:
# extend
test_list.extend(add_list)

test_list

In [ ]:
test_list.index(13)

In [ ]:
#remove
test_list.remove(15)

In [ ]:
test_list.append(14)

In [ ]:
test_list

In [ ]:
test_list.remove(14)

In [ ]:
test_list

In [ ]:
# count
test_list.count(14)

In [ ]:
for variable in iterable:

In [ ]:
for x in range(1,11):
    print(x)

In [ ]:
# loop over list
for x in test_list:
    print(x)

In [ ]:
# enumerate
for index, value in enumerate(test_list):
    print(f'Index {index} has value {value}')

In [ ]:
for index in enumerate(test_list):
    
    two_count = div_two(index[1])
    
    print(f'Index {index[0]} has value {index[1]} is dividible by two {two_count} times')

In [ ]:
test =(1,2,3,34,5)

In [ ]:
test

In [ ]:
test[4]

In [ ]:
type(enumerate)

In [ ]:
test_list.append()

In [ ]:
test_list = list(range(1,11))

In [ ]:
# multiple data types
# first with extend
alpha_list = ['a','b','c','d']

test_list.extend(alpha_list)

In [ ]:
test_list

In [ ]:
# now with append
test_list.append(alpha_list)

In [ ]:
test_list

In [ ]:
#check out the data types!

for i, num in enumerate(test_list):
    print(f'Index {i} has value {num} of datatype {type(num)}')

# Dictionaries

## Dictionary Methods

Make sure you're comfortable with the following dictionary methods:

- `.keys()`: returns an array of the dictionary's keys
- `.values()`: returns an array of the dictionary's values
- `.items()`: returns an array of key-value tuples

In [ ]:
#Create a practice dictionary prac_dict



prac_dict = {
    
    'name':'david',
    'team':'sounders',  
    'sport':'soccer'
 
}

In [ ]:
prac_dict

In [ ]:
# .keys()
prac_dict.keys()

In [ ]:
# .values()
prac_dict.values()

In [ ]:
# items()
prac_dict.items()

In [ ]:
# look a a key
prac_dict['name']

In [ ]:
# try to index it
prac_dict[0]

# Nesting

## Nested Structures

It will be well worth your while to practice accessing data in complex structures. Consider the following:

In [ ]:
customers = {
    'bill': {'purchases': {'movies': ['Terminator', 'Elf'],'books': []}, 'id': 1},
    
    'dolph': {'purchases': {'movies': ['It Happened One Night'],
                     'books': ['The Far Side Gallery']}, 'id': 2},
    
    'pat': {'purchases': {'movies': [],
                   'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
                   'id': 3}
}

**Q**: How would we access 'I Am a Bunny'?
<br/>
**A**: The outermost "layer" has a name: 'customers', and that object is a dictionary:
<br/>
`customers`
<br/>
The key we are interested in is 'pat', since that's where 'I Am a Bunny' is located:
<br/>
`customers['pat']`
<br/>
The value corresponding to the key 'pat' is also a dictionary, and in this "lower-down" dictionary, the key we are interested in is 'purchases':
<br/>
`customers['pat']['purchases']`
<br/>
The value corresponding to the key 'purchases' is yet another dictionary, and here the key of interest is `books`:
<br/>
`customers['pat']['purchases']['books']`
<br/>
The value corresponding to the key 'books' is a list, and 'I Am a Bunny' is the second element in that list:
<br/>
`customers['pat']['purchases']['books'][1]`

In [ ]:
customers

In [ ]:
customers['pat']

In [ ]:
customers['pat']['purchases']

In [ ]:
customers['pat']['purchases']['books']

In [ ]:
customers['pat']['purchases']['books'][1]

## Exercises

1. From the list below, make a list of dictionaries where the key is the person's name and the value is the person's home phone number.

In [1]:
phone_nos = [{'name': 'greg', 'nums': {'home': 1234567, 'work': 7654321}},
             {'name': 'max', 'nums': {'home': 9876543, 'work': 1010001}},
             {'name': 'erin', 'nums': {'home': 3333333, 'work': 4444444}},
             {'name': 'joél', 'nums': {'home': 2222222, 'work': 5555555}},
             {'name': 'sean', 'nums': {'home': 9999999, 'work': 8888888}}]

2. From the customers dictionary above, build a dictionary where the customers' names are the keys and the movies they've bought are the values.

In [4]:
new_phone = {}

In [10]:
for entry in phone_nos:
    new_phone[entry['name']] = entry['nums']['home']

In [11]:
entry

{'name': 'sean', 'nums': {'home': 9999999, 'work': 8888888}}

In [12]:
new_phone

{'greg': 1234567,
 'max': 9876543,
 'erin': 3333333,
 'joél': 2222222,
 'sean': 9999999}

In [7]:
entry = 3

In [9]:
entry

3

In [8]:
new_phone[entry['name']] = entry['nums']['home']

TypeError: 'int' object is not subscriptable

In [ ]:
new_phone

# List and Dictionary Comprehensions

## List Comprehension

List comprehension is a handy way of generating a new list from existing iterables.

Suppose I start with a simple list.

In [13]:
primes = [2, 3, 5, 7, 11, 13, 17, 19]

What I want now to do is to build a new list that comprises doubles of primes. I can do this with list comprehension!

The syntax is: `[ f(x) for x in <iterable>]`

In [14]:
prime_doubles = [x*2 for x in primes]
prime_triples = [x*3 for x in primes]

In [15]:
prime_doubles

[4, 6, 10, 14, 22, 26, 34, 38]

In [16]:
prime_triples

[6, 9, 15, 21, 33, 39, 51, 57]

In [17]:
# create a list with a range called comp_test
comp_test = list(range(1,21))

In [18]:
comp_test

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

What if I want to have a conditional?

The syntax is: `[ f(x) for x in <iterable> if condition]`

In [20]:
if (5 % 2) == 0:
    print('even')
else:
    print('odd')

odd

In [21]:
odds = [number for number in comp_test if (number % 2) != 0]
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# Conditional comprehension
# create a list of odd numbers

What if I want to do an if/else?

The syntax is: `[ f(x) if conditional else g(x) for x in <iterable>]`

In [28]:
even_odd = [number  for number in comp_test if number % 2 ==0 ]

In [29]:
even_odd

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
# if-else comprehension
# create a list with 'odd' if odd, and 'even' if even

even_odd = ['even' if number % 2 == 0 else 'odd' for number in comp_test]

even_odd

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

##### Aside: List Comprehensions Vs. `for`-Loops

Yes, I could do the same work with for-loops:

In [ ]:
# simple

In [ ]:
# test
prime_doubles == prime_doubles2

In [ ]:
# conditional

In [23]:
# if-else
even_odd2 = []

for num in comp_test:
    if num% 2 == 0:
        even_odd2.append('even')
    else:
        even_odd2.append('odd')

In [24]:
even_odd2

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [25]:
even_odd == even_odd2

True

But list comprehensions are more efficient: The syntax is simpler, and they're also faster. Also, you'll see them in other people's code, so you'll have to know how to work with them!

### Another List Comprehension Example

I can use list comprehension to build a list from objects other than lists:

'abce'

In [30]:
names = ('Alan Turing', 'Charles Babbage', 'Ada Lovelace',
        'Anita Borg', 'Steve Wozniak', 'Andrew Ng')

splits = [name.split() for name in names]
splits

[['Alan', 'Turing'],
 ['Charles', 'Babbage'],
 ['Ada', 'Lovelace'],
 ['Anita', 'Borg'],
 ['Steve', 'Wozniak'],
 ['Andrew', 'Ng']]

In [31]:
[name1[0]+'. '+name2[0]+'.' for (name1, name2) in splits]

['A. T.', 'C. B.', 'A. L.', 'A. B.', 'S. W.', 'A. N.']

In [33]:
# Nested Comps!
[name1[0]+'. '+name2[0]+'.' for (name1, name2) in [name.split() for name in names]]

['A. T.', 'C. B.', 'A. L.', 'A. B.', 'S. W.', 'A. N.']

In [34]:
names = ('Alan Turing', 'Charles Babbage', 'Ada Lovelace',
        'Anita Borg', 'Steve Wozniak', 'Andrew Ng')

splits = [name.split() for name in names]

[name1[0]+'. '+name2[0]+'.' for (name1, name2) in splits]

['A. T.', 'C. B.', 'A. L.', 'A. B.', 'S. W.', 'A. N.']

In [ ]:
names = ('Alan Turing', 'Charles Babbage', 'Ada Lovelace',
        'Anita Borg', 'Steve Wozniak', 'Andrew Ng')

[name1[0]+'. '+name2[0]+'.' for (name1, name2) in [name.split() for name in names]]

### Exercises

1. Use a list comprehension to extract the odd numbers from this set:

In [35]:
nums = set(range(1000))

In [36]:
odd_num = [x for x in nums if x%2 != 0]

In [37]:
odd_num

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 205,
 207,
 209,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 241,
 243,
 245,
 247,
 249,
 251,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 323,
 325,
 327,
 329,
 331,
 333,
 335,
 337,
 339,
 341,
 343,
 345,
 347,
 349,
 351,
 353,
 355,
 357,
 359,
 361,
 363,
 365,
 367,
 369,
 371,
 373,
 375,
 377,
 379,
 381,
 383,
 385,
 387,
 389,
 391,
 393,
 395,
 397,
 399,
 401,
 403,
 405,
 407,
 409,
 411,
 413,
 415,
 417,
 419,
 421,
 423,
 425,
 427,
 429,
 431,
 433,
 435,
 437,
 439,
 441,
 443,
 445,
 447,
 449,
 451,
 453,
 455,
 457,
 459,
 461,
 463,
 465,
 467,
 469,
 471,
 473,
 475,
 477,
 479,
 481,
 483,
 485,
 487,
 489,
 491,
 493,
 495,
 497,
 499,
 501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549,
 551,
 553,
 555,
 557,
 559,
 561,
 563,
 565,
 567,
 569,
 571,
 573,
 575,
 577,
 579,
 581,
 583,
 585,
 587,
 589,
 591,
 593,
 595,
 597,
 599,
 601,
 603,
 605,
 607,
 609,
 611,
 613,
 615,
 617,
 619,
 621,
 623,
 625,
 627,
 629,
 631,
 633,
 635,
 637,
 639,
 641,
 643,
 645,
 647,
 649,
 651,
 653,
 655,
 657,
 659,
 661,
 663,
 665,
 667,
 669,
 671,
 673,
 675,
 677,
 679,
 681,
 683,
 685,
 687,
 689,
 691,
 693,
 695,
 697,
 699,
 701,
 703,
 705,
 707,
 709,
 711,
 713,
 715,
 717,
 719,
 721,
 723,
 725,
 727,
 729,
 731,
 733,
 735,
 737,
 739,
 741,
 743,
 745,
 747,
 749,
 751,
 753,
 755,
 757,
 759,
 761,
 763,
 765,
 767,
 769,
 771,
 773,
 775,
 777,
 779,
 781,
 783,
 785,
 787,
 789,
 791,
 793,
 795,
 797,
 799,
 801,
 803,
 805,
 807,
 809,
 811,
 813,
 815,
 817,
 819,
 821,
 823,
 825,
 827,
 829,
 831,
 833,
 835,
 837,
 839,
 841,
 843,
 845,
 847,
 849,
 851,
 853,
 855,
 857,
 859,
 861,
 863,
 865,
 867,
 869,
 871,
 873,
 875,
 877,
 879,
 881,
 883,
 885,
 887,
 889,
 891,
 893,
 895,
 897,
 899,
 901,
 903,
 905,
 907,
 909,
 911,
 913,
 915,
 917,
 919,
 921,
 923,
 925,
 927,
 929,
 931,
 933,
 935,
 937,
 939,
 941,
 943,
 945,
 947,
 949,
 951,
 953,
 955,
 957,
 959,
 961,
 963,
 965,
 967,
 969,
 971,
 973,
 975,
 977,
 979,
 981,
 983,
 985,
 987,
 989,
 991,
 993,
 995,
 997,
 999]

2. Use a list comprehension to take the first character of each string from the following list of words.

In [38]:
words = ['carbon', 'osmium', 'mercury', 'potassium', 'rhenium', 'einsteinium',
        'hydrogen', 'erbium', 'nitrogen', 'sulfur', 'iodine', 'oxygen', 'niobium']

In [39]:
for name in words: 
    print(name[0])

c
o
m
p
r
e
h
e
n
s
i
o
n

In [40]:
[word[0] for word in words]

['c', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n']

3. Use a list comprehension to build a list of all the names that start with 'R' from the following list. Add a '?' to the end of each name.

In [41]:
names = ['Randy', 'Robert', 'Alex', 'Ranjit', 'Charlie', 'Richard', 'Ravdeep',
        'Vimal', 'Wu', 'Nelson']

In [42]:
names

['Randy',
 'Robert',
 'Alex',
 'Ranjit',
 'Charlie',
 'Richard',
 'Ravdeep',
 'Vimal',
 'Wu',
 'Nelson']

In [ ]:
f(x) for x in iterable if condition

In [45]:
new_list = [name+'?' for name in names if name[0] == 'R']

new_list

['Randy?', 'Robert?', 'Ranjit?', 'Richard?', 'Ravdeep?']

In [44]:
new_list = []
for name in names:
    if name[0] == 'R':
        new_list.append(name + '?')
print(new_list)

['Randy?', 'Robert?', 'Ranjit?', 'Richard?', 'Ravdeep?']

In [ ]:
str.startswith()

In [46]:
characters = [x+'?' for x in names if x.startswith('R')]

In [47]:
characters

['Randy?', 'Robert?', 'Ranjit?', 'Richard?', 'Ravdeep?']

## Dictionary Comprehension

Much like list comprehension, I can use dictionary comprehension to build dictionaries from existing iterables.

In [ ]:
my_dict = {'who': 'flatiron school', 'what': 'data science',
           'when': 'now', 'where': 'here', 'why': '$',
           'how': 'python'}

Remember that the `.items()` method will return a collection of doubles:

In [ ]:
my_dict.items()

So I can use a pair of variables to range over it:

In [ ]:
{k: v + '!' for k, v in my_dict.items() if k.startswith('w')}

The same thing works for any collections of doubles:

In [ ]:
{k**2: v**2 for k, v in [(0, 1), (2, 3), (4, 5)]}

### `zip`

Remember that `zip` is a handy way of pairing up two or more iterables:

In [ ]:
dict(zip(range(5), ['apple', 'orange', 'banana', 'lime', 'blueberry']))

In [ ]:
# Zipping multiple iterables together
tuple(zip(range(1, 5), 'a'*4, 'b'*4, 'c'*4, 'd'*4, 'e'*4))

#### Dictionary Comprehension Using `zip`

In [ ]:
{k: v for k, v in zip(range(5), range(0, 10, 2))}

In [ ]:
scores = [.858, .873, .868]
{'model' + str(j+1): scores[j] for j in range(3)}

### Exercises

1. Use a dictionary comprehension to pair up the countries in the first list with their corresponding capitals in the second list:

In [ ]:
list1 = ['USA', 'France', 'Canada', 'Thailand']
list2 = ['Washington', 'Paris', 'Ottawa', 'Bangkok']

2. Use a dictionary comprehension to make each of the characters in the following list a key with the value 'fictional character'.

In [ ]:
chars = ['Pinocchio', 'Gilgamesh', 'Kumar Patel', 'Toby Flenderson']

Just as we can put lists and dictionaries inside of other lists and dictionaries, we can also put comprehensions inside of other comprehensions.

In [ ]:
lists = [['morning', 'afternoon', 'night'], ['read', 'code', 'sleep']]

In [ ]:
[[item[0] for item in small_list] for small_list in lists]

# More Exercises

1. Build a function that will return $2^n$ for an input $n$.

In [66]:
def power_of_num(number, power):
    
    """ 
    This function return number to the nth power
    """
    
#     result=2**number
#     return result

    return(number**power)

In [69]:
power_of_num(3,4)

81

In [64]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

2. Build a function that will take in a list of phone numbers as strings and return the same as integers, removing any parentheses ('(' and ')'), hyphens ('-'), and spaces.

3. Build a function that returns the mode of a list of numbers.